body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: gray;
}

#canvas {
    background-color: lightblue;
}

#control-holder {
    width: 150px;
    height: 150px;
    display: flex;
}

.empty-block {
    width: 50px;
    height: 50px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    padding: 0;
    margin: 0;
    border: 0;
}